@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

    <link href="~/Estilos/css/login.css" rel="stylesheet" />
    <!-- Add any additional CSS or stylesheet links here -->
</head>
<body class="login-page">
    <main>
        <div class="login-block">
            <img src="http://scanfcode.com/wp-content/uploads/2017/09/cropped-Untitled-1.png" alt="Scode">
            <h1>Recuperacion de cuenta</h1>
            <form action="#" method="post">

                <hr class="hr-xs">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z" />
                            </svg>
                        </span>
                        <input type="text" class="form-control" name="correo" placeholder="Ingresa tu correo">
                    </div>
                </div>
                <hr class="hr-xs">

                <button class="btn btn-primary btn-block btn-green" type="submit">Recuperar</button>

                <div class="login-footer">



                </div>
            </form>
        </div>

    </main>
</body>
</html>
